.spacer {
  flex: 1 1 auto;
}

button {
  outline: none;
}

table {
  width: 100%;
}

.todo-title {
  margin-left: 12px;
}

mat-row:hover {
  background: whitesmoke;
}

mat-row:active {
  background: #efefef;
}

.currently-editing {
  background: #efefef;
}

/* #todo-edit-button {
  display:
} */
