<div class="grid justify-items-center mt-6" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="mt-12" *ngIf="!isLoading">
  <button mat-raised-button (click)="onCreateTodoItem()" color="primary">
    Create Task
  </button>
</div>

<mat-table
  [dataSource]="incompleteTodos"
  class="mat-elevation-z8 mt-4"
  *ngIf="!isLoading"
>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let todo">
      <mat-checkbox (click)="onCompleteTodoItem(todo)"></mat-checkbox>
      <span class="todo-title">
        {{ todo.title }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef>Buttons</mat-header-cell>
    <mat-cell *matCellDef="let todo" class="justify-end">
      <button id="todo-edit-button" mat-icon-button color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDeleteTodoItem(todo)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-row
    *matRowDef="let todo; columns: columnsToDisplay"
    (click)="onEdit(todo)"
    [ngClass]="{ 'currently-editing': todo === editingTodo }"
  ></mat-row>
</mat-table>
