#todo-list-controls {
  width: 600px;
}

button {
  outline: none;
}

mat-table {
  width: 600px;
}

.todo-title {
  margin-left: 12px;
}

mat-row:hover {
  background: whitesmoke;
}

mat-row:active {
  background: #efefef;
}

.currently-editing {
  background: #efefef;
}

.completed-todo {
  text-decoration: line-through;
}

.title-cell {
  flex: 0 0 80%;
}

.buttons-cell {
  flex: 0 0 20%;
}
