<button mat-raised-button (click)="markSelectionComplete()">
  Mark Complete
</button>

<button mat-raised-button (click)="markSelectionIncomplete()">
  Mark Incomplete
</button>

<table
  mat-table
  [dataSource]="todos"
  multiTemplateDataRows
  class="mat-elevation-z2"
>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      ></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let todo">{{ todo.title }}</td>
  </ng-container>

  <ng-container matColumnDef="isComplete">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let todo">
      {{ todo.isComplete ? "Complete" : "Incomplete" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let todo"
      [attr.colspan]="columnsToDisplay.length"
    >
      <div
        class="todo-detail"
        [@detailExpand]="todo == expandedTodo ? 'expanded' : 'collapsed'"
      >
        <div class="todo-description">
          {{
            todo.desc
              ? todo.desc
              : "No details have been provided for this item"
          }}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let todo; columns: columnsToDisplay"
    class="todo-row"
    [class.expanded-row]="expandedTodo === todo"
    (click)="expandedTodo = expandedTodo === todo ? null : todo"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>

<!-- <mat-list>
  <mat-list-item *ngFor="let todo of todos$ | async">
    <app-todo-item
      [id]="todo.id"
      [title]="todo.title"
      [desc]="todo.desc"
      [isComplete]="todo.isComplete"
    ></app-todo-item>
  </mat-list-item>
</mat-list> -->
