<ng-container *ngIf="isAuth$ | async">
  <mat-nav-list>
    <a
      mat-list-item
      (click)="selectInbox()"
      [ngClass]="{ 'font-bold': inboxSelected$ | async }"
    >
      <mat-icon matListIcon>inbox</mat-icon>
      <span class="ml-2">Inbox</span>
    </a>

    <a mat-list-item (click)="toggleProjectList()">
      <mat-icon matListIcon *ngIf="!(projectListOpen$ | async)">
        chevron_right
      </mat-icon>
      <mat-icon matListIcon *ngIf="projectListOpen$ | async">
        expand_more
      </mat-icon>
      <span class="ml-2">Projects</span>
      <span class="flex flex-grow"></span>
      <button
        class="text-gray-300 focus:outline-none hover:text-cyan-800"
        mat-icon-button
        (click)="onProjectAdd($event)"
      >
        <mat-icon> add_circle_outline </mat-icon>
      </button>
    </a>
    <mat-divider></mat-divider>
    <ng-container *ngIf="projectListOpen$ | async">
      <a
        mat-list-item
        *ngFor="let project of customProjects$ | async"
        (click)="selectProject(project)"
        class="group"
      >
        <span
          class="ml-12"
          [ngClass]="{
            'font-bold': (selectedProjectId$ | async) === project._id
          }"
          >{{ project.name }}
        </span>
        <span class="flex flex-grow"></span>

        <button
          class="invisible text-gray-300 focus:outline-none group-hover:visible hover:text-cyan-800"
          mat-icon-button
          (click)="onSelectProjectEditMenu($event)"
          [matMenuTriggerFor]="editProjectMenu"
        >
          <mat-icon> more_vert </mat-icon>
        </button>
        <mat-menu #editProjectMenu="matMenu" xPosition="after">
          <button
            mat-menu-item
            class="focus:outline-none group"
            (click)="openEditProjectDialog(project)"
            [disabled]="!project._id"
          >
            <mat-icon class="group-hover:text-yellow-500">edit</mat-icon>
            <span>Edit Project</span>
          </button>
          <button
            mat-menu-item
            class="focus:outline-none group"
            (click)="onProjectDelete(project)"
            [disabled]="!project._id"
          >
            <mat-icon class="group-hover:text-red-700">delete</mat-icon>
            <span>Delete Project</span>
          </button>
        </mat-menu>
      </a>
      <!-- TODO: This shouldn't be clickable -->
      <mat-list-item *ngIf="!(customProjectCount$ | async)">
        <span class="ml-10"> You don't have any projects. </span>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
</ng-container>
