<ng-container *ngIf="isAuth$ | async">
  <mat-nav-list>
    <a
      mat-list-item
      (click)="selectInbox()"
      [ngClass]="{ 'font-bold': inboxSelected$ | async }"
    >
      <mat-icon matListIcon>inbox</mat-icon>
      <span class="ml-2">Inbox</span>
    </a>

    <mat-divider></mat-divider>

    <a mat-list-item (click)="toggleProjectList()">
      <mat-icon matListIcon *ngIf="!(projectListOpen$ | async)">
        chevron_right
      </mat-icon>
      <mat-icon matListIcon *ngIf="projectListOpen$ | async">
        expand_more
      </mat-icon>
      <span class="ml-2">Projects</span>
    </a>
    <ng-container *ngIf="projectListOpen$ | async">
      <a
        mat-list-item
        *ngFor="let project of customProjects$ | async"
        (click)="selectProject(project)"
      >
        <span
          class="ml-12"
          [ngClass]="{
            'font-bold': (selectedProjectId$ | async) === project.id
          }"
          >{{ project.name }}
        </span>
      </a>
      <a mat-list-item (click)="openCreateProjectDialog()">
        <mat-icon matListIcon> add </mat-icon>
        <span class="ml-2">Add Project</span>
      </a>
      <!-- TODO: Delete Project button -->
    </ng-container>
  </mat-nav-list>
</ng-container>
