<form [formGroup]="todoForm" (ngSubmit)="onSave()">
  <div mat-dialog-content>
    <div class="flex flex-col">
      <mat-form-field class="xs: w-80">
        <mat-label>Edit Task</mat-label>
        <input
          matInput
          type="text"
          formControlName="title"
          [maxlength]="maxTitleLength"
        />
        <mat-hint align="end">
          {{ title.value.length }} / {{ maxTitleLength }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="xs: w-80">
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectId">
          <mat-option
            *ngFor="let project of data.projects"
            [value]="project._id"
          >
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="flex justify-center">
    <button
      class="focus:outline-none"
      mat-button
      type="submit"
      [disabled]="todoForm.invalid"
    >
      Save
    </button>
    <button class="focus:outline-none" mat-button mat-dialog-close>
      Close
    </button>
  </div>
</form>
