<mat-toolbar class="mb-6 bg-gray-50">
  <span> <a routerLink="/"></a></span>
  <span class="spacer"></span>
  <ul class="flex">
    <li
      class="mr-2 border-b-4 hover:border-emerald-200"
      routerLinkActive="border-emerald-600 hover:border-emerald-600"
    >
      <a
        mat-flat-button
        disableRipple
        *ngIf="!(isAuth$ | async)"
        routerLink="/login"
        class="bg-gray-50"
      >
        Sign In
      </a>
    </li>
    <li
      class="border-b-4 hover:border-emerald-200"
      routerLinkActive="border-emerald-600 hover:border-emerald-600"
    >
      <a
        mat-flat-button
        disableRipple
        *ngIf="!(isAuth$ | async)"
        routerLink="/signup"
        class="bg-gray-50"
      >
        Sign Up
      </a>
    </li>
    <li>
      <button
        mat-button
        class="focus:outline-none"
        *ngIf="isAuth$ | async"
        (click)="onLogout()"
      >
        Logout
      </button>
    </li>
  </ul>
  <!-- TODO: Add GitHub icon to right side of navbar -->
</mat-toolbar>
