<mat-spinner
  class="mt-20 mx-auto"
  [diameter]="70"
  *ngIf="isLoading$ | async"
></mat-spinner>

<ng-container *ngIf="selectedProjectId$ | async as selectedProjectId">
  <div class="w-11/12 max-w-3xl mx-auto mt-4" *ngIf="!(isLoading$ | async)">
    <div class="mb-6" *ngIf="selectedProjectId">
      <button
        class="focus:outline-none"
        color="primary"
        mat-mini-fab
        (click)="openCreateTodoDialog(selectedProjectId)"
      >
        <mat-icon> add </mat-icon>
      </button>
    </div>
    <h1>{{ selectedProjectName$ | async }}</h1>
  </div>
</ng-container>

<!-- TODO: Display message when todo list is empty -->

<ng-container *ngIf="selectedProjectTodos$ | async as selectedProjectTodos">
  <mat-table
    [dataSource]="selectedProjectTodos"
    class="mat-elevation-z2 w-11/12 max-w-3xl mx-auto"
    *ngIf="!(isLoading$ | async)"
  >
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let todo">
        <mat-checkbox
          (click)="onToggleCompleteStatus(todo)"
          [checked]="todo.isComplete"
        ></mat-checkbox>
        <span class="ml-3" [ngClass]="{ 'line-through': todo.isComplete }">
          {{ todo.title }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>Buttons</mat-header-cell>
      <mat-cell *matCellDef="let todo" class="flex-initial">
        <button
          mat-icon-button
          class="focus:outline-none invisible group-hover:visible text-yellow-500"
          (click)="openEditTodoDialog(todo)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="onDeleteTodo($event, todo)"
          class="invisible focus:outline-none group-hover:visible text-red-700"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-row
      *matRowDef="let todo; columns: columnsToDisplay$ | async"
      class="hover:bg-gray-100 active:bg-gray-200 group"
      [ngClass]="{ 'bg-gray-200': todo === editingTodo$ | async }"
      (click)="onRowClick($event, todo)"
    ></mat-row>
  </mat-table>
</ng-container>
