<!-- TODO: Error handling for invalid registration -->
<div class="h-full xs:flex xs:items-center">
  <mat-card class="w-full h-full mx-auto xs:h-auto xs:w-102">
    <mat-spinner
      class="mx-auto mt-20"
      [diameter]="70"
      *ngIf="isLoading$ | async"
    ></mat-spinner>

    <div class="px-6 pt-8 pb-5" *ngIf="!(isLoading$ | async)">
      <div class="text-center">
        <h1>Create Account</h1>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="pt-2">
        <div class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="email.errors?.required">
              Please enter an email.
            </mat-error>
            <mat-error *ngIf="email.errors?.email">
              Please enter a valid email.
            </mat-error>
            <!-- Add error if email is already registered -->
          </mat-form-field>
        </div>

        <div class="mb-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="password.errors?.required">
              Please enter a password.
            </mat-error>
            <mat-error *ngIf="password.errors?.minlength">
              Your password must be at least 8 characters long.
            </mat-error>
            <!-- TODO: Add error if password doesn't contain a lowercase letter -->
            <!-- TODO: Add error if password doesn't contain a capital letter -->
            <!-- TODO: Add error if password doesn't contain a number -->
          </mat-form-field>
        </div>

        <div class="flex justify-between">
          <div class="flex align-middle h-9">
            <span class="my-auto">
              <a routerLink="/login"> Sign in instead </a>
            </span>
          </div>

          <button
            mat-raised-button
            class="w-8 text-white bg-cyan-600 focus:outline-none"
            [disabled]="!signupForm.valid"
            type="submit"
          >
            Next
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
