<!-- TODO: Error handling for invalid login -->
<div class="h-full xs:flex xs:items-center">
  <mat-card class="mx-auto h-full xs:h-auto w-full xs:w-102">
    <div class="pt-8 px-6 pb-5">
      <div class="text-center">
        <h1>Sign In</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="pt-2">
        <div class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="email.errors?.required">
              Please enter an email.
            </mat-error>
            <mat-error *ngIf="email.errors?.email">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="password.errors?.required">
              Please enter a password.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex justify-between">
          <div class="flex align-middle h-9">
            <span class="my-auto">
              <a routerLink="/signup"> Create account </a>
            </span>
          </div>
          <button
            mat-raised-button
            class="bg-emerald-800 text-white focus:outline-none w-8"
            type="submit"
          >
            Next
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
