.mat-card {
  width: 400px;
  position: absolute;
  top: 50px;
  background-color: white;
  z-index: 2;
}

.mat-form-field {
  width: 280px;
}

button {
  outline: none;
}

.scrim {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#todo-list-editor {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
