<div class="grid justify-items-center my-6">
  <mat-card class="text-center">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Create Task</mat-label>
        <input matInput type="text" [(ngModel)]="title" />
        <button
          *ngIf="title"
          matSuffix
          mat-icon-button
          aria-label="Clear title"
          (click)="clearTitle()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Additional Detail (Optional)</mat-label>
        <input matInput type="text" [(ngModel)]="description" />
        <button
          mat-button
          *ngIf="description"
          matSuffix
          mat-icon-button
          aria-label="Clear description"
          (click)="clearDescription()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="createTodo()"
        [disabled]="title === ''"
      >
        ADD
      </button>
    </mat-card-actions>
  </mat-card>
</div>
