<div class="grid justify-items-center my-6">
  <mat-card class="text-center">
    <form (submit)="onSave(todoForm)" #todoForm="ngForm">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Create Task</mat-label>
          <input
            matInput
            type="text"
            name="title"
            [ngModel]="selectedTodo?.title"
          />
          <button
            *ngIf="todoForm.value.title"
            matSuffix
            mat-icon-button
            aria-label="Clear title"
            (click)="clearTitle(todoForm)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Additional Detail (Optional)</mat-label>
          <input
            matInput
            type="text"
            name="description"
            [ngModel]="selectedTodo?.description"
          />
          <button
            *ngIf="todoForm.value.description"
            matSuffix
            mat-icon-button
            aria-label="Clear description"
            (click)="clearDescription(todoForm)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!todoForm.value.title"
        >
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
