<form (submit)="onSave(todoForm)" #todoForm="ngForm">
  <div mat-dialog-content>
    <div class="flex flex-col">
      <mat-form-field class="xs: w-80">
        <mat-label *ngIf="!data.isEditing">Create Task</mat-label>
        <mat-label *ngIf="data.isEditing">Edit Task</mat-label>
        <input matInput type="text" name="title" [ngModel]="data.title" />
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="flex justify-center">
    <button class="focus:outline-none" mat-button type="submit">Save</button>
    <button class="focus:outline-none" mat-button mat-dialog-close>
      Close
    </button>
  </div>
</form>
